/* Estilos globales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2d2d;
    color: #fff;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Estilos del encabezado */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2d2d2d;
  }
  
  header .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #d4b0f2;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
  }
  
  header nav ul li a {
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  header nav ul li a:hover {
    color: #d4b0f2;
  }
  
  /* Estilos de la sección hero */
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;
    background-color: #733c7a;
    height: calc(100vh - 80px); /* Altura de la pantalla menos el tamaño del header */
  }
  
  .hero-text {
    max-width: 50%;
  }
  
  .hero-text h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
  }
  
  .hero-text p {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  
  .hero-text .highlight {
    color: #f7c8e8;
    font-weight: 700;
  }
  
  .hero-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #6a0572;
    color: #fff;
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer .social-icons {
    margin: 0.5rem 0;
  }
  
  footer .social-icons a {
    color: #fff;
    margin: 0 0.5rem;
    font-size: 1.5rem;
    transition: color 0.3s;
  }
  
  footer .social-icons a:hover {
    color: #d4b0f2;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .hero-section {
      flex-direction: column;
      text-align: center;
      height: auto;
      padding: 2rem;
    }
  
    .hero-text {
      max-width: 100%;
      margin-bottom: 2rem;
    }
  
    header nav ul {
      flex-direction: column;
      gap: 1rem;
    }
  }
  