---
import Badge from "@/components/Badge.astro";
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHubIcon from "@/components/Icons/GitHubIcon.astro";
---

<Layout title="Design System portfolio" description="Catalogo de componentes">
  <SectionContainer class="py-44 pb-32 flex flex-col gap-y-10">
    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">&lt;Badge /&gt;</h1>

      <Badge>Preparado para aportar</Badge>
    </article class="mb-10">

    <article class="mb-10">
      <h1 class="mb-4 text-xl font-semibold">&lt;SocialPill /&gt;</h1 class="mb-4">

      <di class="flex">
      <SocialPill href="https://github.com/Nefta11">
        <GitHubIcon class="size-4 md:size-6" />
        GitHub
      </SocialPill>
    </di>
    </article>
  </SectionContainer>
</Layout>
