---
import Badge from "@/components/Badge.astro";
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
---

<Layout 
title="Design System portfolio"
description="Catalogo de componentes"
>

<SectionContainer class="py-44 pb-32">
<h1>&lt;Badge /&gt;</h1>

<Badge>Tailwind</Badge>
<Badge>Css</Badge>
</SectionContainer>
</Layout>