---
import Badge from "@/components/Badge.astro";
import Layout from "@/layouts/Layout.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHubIcon from "@/components/Icons/GitHubIcon.astro";
---

<Layout title="Design System portfolio" description="Catalogo de componentes">
  <SectionContainer class="py-44 pb-32">
    <h1>&lt;Badge /&gt;</h1>

    <Badge>Tailwind</Badge>
    <Badge>Css</Badge>

    <h1>&lt;SocialPill /&gt;</h1>

    <SocialPill href="https://github.com/Nefta11">
      <GitHubIcon class="size-4 md:size-6" />
      GitHub
    </SocialPill>
  </SectionContainer>
</Layout>
