---
import Badge from "../components/Badge.astro"
import Layout from "../layouts/Layout.astro"
import LinkeIndIcon from "../components/Icons/LinkeInd.astro"
import SocialPill from "../components/SocialPill.astro" 
import GitHubIcon from "../components/Icons/GitHubIcon.astro"
import MailIcon from "../components/Icons/MailIcon.astro"
import Experiences from "../components/Experiences.astro"
import SectionContainer from "../components/SectionContainer.astro"
import Briefcase from "../components/Icons/Briefcase.astro"
import Code from "../components/Icons/Code.astro"
import Projects from "../components/Projects.astro"
---
<Layout 
title="Portafolio Neftali desarrollador fullstack jr"
description="Contrata a neftali para el desarrollo de software te aportara demasiado a tu proyecto">
<main class="px-4">
  <SectionContainer class="py-44 pb-32">
    <img 
    class="rounded-full size-44 mb-5" 
    src="https://raw.githubusercontent.com/Nefta11/my-portfolio/main/public/images/PortafolioNefta.jpg" 
    alt="Neftali foto" 
  />
  <h1 
  class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex 
  flex-row gap-x-4 pb-6 lg:pb-10">
    Hola, Soy Neftali <a 
    href="https://www.linkedin.com/in/neftali-arturo-hern%C3%A1ndez-vergara-9996a8229/"
    target="_blank"
    rel="noopener"
    class="flex justify-center items-center">
      <Badge>Preparado para aportar</Badge>
    </a> 
  </h1>
  <h2 class="text-xl lg:text-2xl  text-wrap max-w-[700px]">
    <span>Técnico Superior Universitario en Tecnologías de la Información, área Desarrollo de Software Multiplataforma.<br>+1 año de experiencia. </span> 
    <span class="text-yellow-200/90">Desarrollador Backend y Movil.</span>
    <span class="text-red-200/90"> De Puebla, Mexico 🇲🇽.</span>
    <span class="opacity-85">Especializado Siuu</span>
  </h2>

    <nav class="flex gap-4 mt-8 flex-wrap">
      <SocialPill href="https://github.com/Nefta11">
        <GitHubIcon class="size-4 md:size-6"/>
        GitHub
      </SocialPill>
      <SocialPill href="https://www.linkedin.com/in/neftali-arturo-hern%C3%A1ndez-vergara-9996a8229/">
        <LinkeIndIcon class="size-4 md:size-6"/>
        LinkedIn
      </SocialPill>
      <SocialPill href="mailto:neftaliarturoherandez@gmail.com">
        <MailIcon class="size-4 lg:size-6"/>
        neftaliarturoherandez@gmail.com
      </SocialPill>
    
    </nav>

  </SectionContainer>
    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
    <Briefcase class="size-7"/>
        Experiencia
      </h2>
      <Experiences/>
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
    <Code class="size-7"/>
        Proyectos
      </h2>
      <Projects/>
    </SectionContainer>
</main>
</Layout>


