---
import Badge from "../components/Badge.astro"
import Layout from "../layouts/Layout.astro"
---
<Layout title="Welcome to my profile">
<main>
  <h1 class="text-white">Hey, Soy Neftali <Badge>Disponible para trabajar</Badge></h1>
  <h2>+1 año de experiencia. Desarrollador Backend y Movil.
    De Puebla, Mexico.
    Especializado Siuuu
  </h2>
</main>
</Layout>


