---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html>
  <head>
    <title>Mi Portafolio</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  </head>
  <body>
    <Header />
    <main>
      <h1 class="animate__animated animate__fadeInDown">¡Hola, soy Neft!</h1>
      <p class="animate__animated animate__fadeInUp">Bienvenido a mi portafolio. Aquí encontrarás algunos de mis proyectos más destacados.</p>
    </main>
    <Footer />
  </body>
</html>
