<section class="flex gap-x-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-200/90
  [&>p>strong]:font-semibold"
  >
    <p>
      Hola, soy <strong>Neftalí Arturo Hernández Vergara, pero puedes llamarme Neft o
      Nefta.</strong> Mi primer contacto con la tecnología fue a los 18 años, cuando
      empecé a aprender sobre reparación de PCs, instalación de sistemas
      operativos y creación de blogs. Aunque estudié Mantenimiento Industrial,
      decidí cambiar de rumbo hacia la programación, un área que me apasiona.
    </p>
    <p>
      Recientemente terminé el <strong
        >Técnico Superior Universitario en Tecnologías de la Información, área
        Desarrollo de Software Multiplataforma</strong
      > y ahora estoy cursando la Ingeniería en Desarrollo y Gestión de Software.
      Durante mis estudios, participé en diversos proyectos donde <strong>desarrollé bases
      de datos (PostgreSQL, MySQL, MongoDB), sitios web con tecnologías como HTML,
      CSS, JavaScript, y frameworks como React, además de backend con Node.js (Express)
      y PHP (Slim, Laravel). También tengo experiencia en desarrollo de apps móviles con React
      Native y Android Studio, así como en control de versiones con Git & GitHub,
      y trabajo con metodologías ágiles como SCRUM. </strong> 
    </p>
    <p>
      Me esfuerzo por aprender continuamente, adaptándome a las nuevas
      tecnologías para no quedar atrás en este mundo en constante evolución.
    </p>
  </div>
  <img
    src="https://raw.githubusercontent.com/Nefta11/my-portfolio/main/public/images/CM_Photogrid_1705359895802.jpg"
    alt=""
    class="rounded-full size-80"
  />
</section>
