<section class="flex gap-x-4">
  <div class="[&>p]:mb-4 [&>p>strong]:text-yellow-200/90
  ">
    <p>
      Hola, me llamo Neftalí Arturo Hernández Vergara, pero mis amigos me dicen
     <strong> Neft o Nefta.</strong> Siempre me ha interesado el mundo de la tecnología, pero mi
      primer contacto con la programación fue a los 18 años, cuando empecé a ver
      tutoriales breves sobre cómo arreglar mi PC, instalar sistemas operativos
      y crear pequeños blogs.
    </p>

    <p>
      Estudié Mantenimiento Industrial, pero después del TSU decidí optar por lo
      que realmente me gustaba: el mundo de la programación. Sabía poco al
      principio, pero me gustaba mucho y decidí continuar para aprender más. No
      me considero un estudiante excelente como algunos de mis compañeros que
      parecen traer el chip tecnológico desde nacimiento, pero siento que
      gracias a mi entusiasmo y disciplina he logrado convertirme en un muy buen
      estudiante. Siempre saco el trabajo adelante. Si algo no lo sé, busco
      soluciones, y créeme que no te fallaré en el trabajo; aunque pueda tener
      complicaciones, siempre trataré de superar los retos y cumplir.
    </p>

    <p>
      Actualmente, recién concluí el <strong>Técnico Superior Universitario en
      Tecnologías de la Información área Desarrollo de Software Multiplataforma</strong>
      (TI A DSM, jaja), y me encuentro estudiando su continuación: la Ingeniería
      en Desarrollo y Gestión de Software. La universidad ha sido fundamental
      para mí, ya que me enseñó las bases y abrió mi mente a muchas
      posibilidades. <strong> Participé en proyectos escolares y propios donde desarrollé
      bases de datos con PostgreSQL, Mysql y MongoDb, creé sitios web con Css, HTML y JS, y
      con frameworks como React y para backend Express de node.js, Slim de PHP,
      Apps con React Native y Android Studio. Control de version y trabajo colaborativo Con GIT & GITHUB, y breve experiencia con metodologia Agil SCRUM </strong> También tengo
      conocimientos en IoT, y sigo estudiando y aprendiendo nuevas tecnologias por mi cuenta, ya
      que en este mundo tecnológico el cambio es constante y debemos adaptarnos
      para no quedar atrás.
    </p>
  </div>
</section>
