---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCE = [
    {
        date:"Mayoo 2023",
        title:"E-comerce code witch php",
        description:" Get started with dozens of web componentes and interactive elements built on top of php"
    },
    {
    date: "Julio 2023",
    title: "API Rest con Node.js",
    description: "Desarrolla y gestiona APIs con Node.js y Express, optimizando la integraci칩n de datos y servicios."
},
{
    date: "Agosto 2023",
    title: "Aplicaci칩n CRUD con Django",
    description: "Implementa operaciones CRUD eficientes utilizando Django, un potente framework de Python."
},
{
    date: "Septiembre 2023",
    title: "Sitio web din치mico con React",
    description: "Crea aplicaciones web interactivas y din치micas utilizando React y su ecosistema de componentes reutilizables."
}

]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience)=>(
        <li class="mb-10 ms-4">
            <ExperienceItems {...experience }/>
        </li>  
        ))
        
    }
</ol>

