---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCE = [
    {
        date:"Mayoo 2023",
        title:"E-comerce code witch php",
        description:" Get started with dozens of web componentes and interactive elements built on top of php"
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience)=>(
        <li class="mb-10 ms-4">
            <ExperienceItems {...experience }/>
        </li>  
        ))
        
    }
</ol>

