---
import ExperienceItems from "./ExperienceItems.astro"

const EXPERIENCE = [
    {
        date: "Actualmente",
        title: "Estudiante de Ingeniería en Desarrollo y Gestión de Software",
        description: "Adquiriendo conocimientos en desarrollo de software, gestión de proyectos y tecnologías emergentes para crear soluciones innovadoras."
    },
    {
    date: "Julio 2023",
    title: "API Rest con Node.js",
    description: "Desarrolla y gestiona APIs con Node.js y Express, optimizando la integración de datos y servicios."
    },
    {
        date: "Agosto 2023",
        title: "Aplicación CRUD con Django",
        description: "Implementa operaciones CRUD eficientes utilizando Django, un potente framework de Python."
    },
    {
        date: "Septiembre 2023",
        title: "Sitio web dinámico con React",
        description: "Crea aplicaciones web interactivas y dinámicas utilizando React y su ecosistema de componentes reutilizables."
    }

]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map((experience)=>(
        <li class="mb-10 ms-4">
            <ExperienceItems {...experience }/>
        </li>  
        ))
        
    }
</ol>

