<footer class="py-4 bg-gray-800 text-white text-center">
  <div class="social-icons flex justify-center gap-4 mb-2">
    <a href="https://www.linkedin.com/in/neftali" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="https://github.com/neftali" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.instagram.com/neftali" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </div>
  <p>&copy; 2024 Neft. Todos los derechos reservados.</p>
</footer>
