---
import InstagramIcon from "../components/Icons/socialMedia/Instegram.astro";
import XIcon from "../components/Icons/socialMedia/X.astro";
import WhatsAppIcon from "../components/Icons/socialMedia/WhatsAppIcon.astro";
---

<footer class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10">
    <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col md:flex-row md:items-center md:justify-between space-y-4 md:space-y-0">
        <span class="text-sm sm:text-center text-violet-500">
            © 2024 <a class="hover:underline">Neftali Dev</a> All rights reserved.
        </span>
        <div class="flex items-center justify-center space-x-4 md:space-x-8">
            <a href="https://www.instagram.com/nefth_07/" target="_blank" aria-label="Instagram">
                <InstagramIcon class="size-5 md:size-7" />
            </a>
            <a href="https://x.com/i/flow/login?redirect_after_login=%2FNetf22" target="_blank" aria-label="X">
                <XIcon class="size-5 md:size-7" />
            </a>
            <a href="https://wa.me/527641146446" target="_blank" aria-label="WhatsApp">
                <WhatsAppIcon class="size-5 md:size-7" />
            </a>
        </div>
        <ul class="flex flex-wrap items-center text-sm font-medium text-white/90">
            <li>
                <a  id="sobre-mi" class="underline">About Me</a>
            </li>
        </ul>
    </div>
</footer>
