<header>
	<div class="logo">Neft</div>
	<nav>
	  <ul>
		<li><a href="/projects">Proyectos</a></li>
		<li><a href="/contact">Contacto</a></li>
		<li><a href="/blog">Blog</a></li>
	  </ul>
	</nav>
  </header>
  