---
import SocialPill from "./SocialPill.astro";
import CVIcon from "../components/Icons/CV.astro";
---

<header
class="flex flex-col sm:flex-row justify-center items-center py-3 px-4 w-full md:w-[90%] lg:w-[1120px] mx-auto"
>
  <nav class="flex flex-row gap-x-12 items-center opacity-80">
    <a href="/#experiencia" class="flex items-center">Experiencia</a>
    <a href="/#proyectos" class="flex items-center">Proyectos</a>
    <a href="/#sobre-mi" class="flex items-center">Sobre mi</a>
    <a href="/#contacto" class="flex items-center">Contacto</a>
    <SocialPill
    href="../../public/Currículum NeftaliVergara_DEV.pdf"
    class="flex items-center"
    download
    download="CV_NeftaliArturoHernandezVergara"
  >
    <CVIcon class="size-4 lg:size-6 mr-2" />
    Descargar CV
  </SocialPill>
  
  </nav>
</header>
