<header>
	<div class="logo">Neft</div>
	<nav>
	  <ul>
		<li><a href="/">writing</a></li>
		<li><a href="/speaking">speaking</a></li>
		<li><a href="/workshop">workshop</a></li>
		<li><a href="/playing">playing</a></li>
	  </ul>
	</nav>
  </header>
  