---
import "@fontsource-variable/onest"

import Header from "../components/Header.astro"
import { ViewTransitions } from "astro:transitions"

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <!-- Asegúrate de incluir FontAwesome si necesitas los íconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  </head>

  <body>
    <Header />
    <slot />

    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: system-ui, sans-serif;
        background-color: black;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        justify-content: center;
      }
    </style>
  </body>
</html>
